
__pycache__
connect/__pycache__/
module/agenda/__pycache__
module/lembrete/__pycache__
module/materias/__pycache__/
module/metas/__pycache__/
module/usuario/__pycache__/
module/linksuteis/__pycache__
module/cronogramadematerias/__pycache__ 
module/lembretes/__pycache__ 
api-env/pyvenv.cfg
module/agenda/__pycache__/controller.cpython-310.pyc
module/agenda/__pycache__/dao.cpython-310.pyc
module/agenda/__pycache__/model.cpython-310.pyc
