
__pycache__
connect/__pycache__/
module/agenda/__pycache__
module/lembrete/__pycache__
module/materias/__pycache__
module/metas/__pycache__
module/usuario/__pycache__
module/linksuteis/__pycache__
module/cronogramadematerias/__pycache__ 